<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">
    <th:block th:replace="/layout/fragments/myPage :: myPageFragment"/>
    <style>
        .detail_img {
            width: 50px;
        }

        .imgMain {
            width: 400px;
            height: 450px;
        }
    </style>

    <div>
        <h2 class="entry-title"><a href="#" rel="bookmark">@sunshimMom</a></h2>
        <a class='portfoliotype' href='#'>sunshimi</a>
        <a class='portfoliotype' href='#'>Golden Retriever </a>
        <label>textareaaaatextareaaaatextareaaaatextareatextareaaaatextareaaaaaaatextareaaaatextareaaaatextareaaaatextareatextareaaaatextareaaaaaaa</label><br><br>
        <div style="text-align: right;">
            <button>MOD</button>
            <button>DEL</button>
        </div>
    </div>
    <!-- Comments-->
    <input type="text" placeholder="Add Comment ..">
    <button>✍</button>
    <table>
        <tr>
            <td>@SUNSHIM</td>
            <td>nice photos!</td>
        </tr>
        <tr>
            <td>@luv_trudy</td>
            <td>i wanna join you!</td>
        </tr>
    </table>

</th:block>
</html>