<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">
    <th:block th:replace="/layout/fragments/myPage :: myPageFragment"/>
    <!-- 반복문 돌리기? 3줄씩 끊어서-->
    <div class="story-contents">
        <div class="sContents">
            <a href="#">
                <img src="https://i.pinimg.com/736x/34/5c/df/345cdf0b5c4b2e6324f731b7b161698b.jpg"><br>
                <label>❤️ 24 ♥sunshimi ♥hodor </label>
            </a>
            <br><br>
        </div>
    </div>

</th:block>
</html>