<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">
    <th:block th:replace="/layout/fragments/myPage :: myPageFragment"/>

    <span>
        <h1>Things To Know</h1>
        <hr>
        <table>
            <tr>
                <td>What's wrong with my TRUDY!?</td>
                <td>❤️ 24</td>
                <td># 24</td>
                <td>2022-01-01</td>
            </tr>
            <tr>
                <td>What's wrong with my TRUDY!?</td>
                <td>❤️ 24</td>
                <td># 24</td>
                <td>2022-01-01</td>
            </tr>
        </table>
    </span>
    <span>
        <h1>Things To Know</h1>
        <hr>
        <table>
            <tr>
                <td>What's wrong with my TRUDY!?</td>
                <td>❤️ 24</td>
                <td># 24</td>
                <td>2022-01-01</td>
            </tr>
            <tr>
                <td>What's wrong with my TRUDY!?</td>
                <td>❤️ 24</td>
                <td># 24</td>
                <td>2022-01-01</td>
            </tr>
        </table>
    </span>

</th:block>
</html>