<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">
    <th:block th:replace="/layout/fragments/myPage :: myPageFragment"/>

    <script>
        $(function () {  // 즉시실행함수
            getTrudyList();

        });

        function getTrudyList() {
            $.ajax({
                type: "GET",
                url: "/myPage/getTrudyList",
                success: function (list) {
                    let html = "";
                    list.forEach(function (data) {
                        html += "<div  style=\"display: flex; \">"
                        html += "<div style=\"width: 50%; text-align: center;\">"
                        html += "<img src='/files/download?files=" + data.imgName + "'><br>"
                        html += "</div>"
                        html += "<div  style=\"background-color:red;width: 50%; \">"
                        html += "<label>" + data.trudyName + "</label><br>";
                        html += "<label>" + data.trudyGender + "</label><br>";
                        html += "<label>" + data.trudyType + "</label><br>";
                        html += "<label>" + data.trudyIntro + "</label><br>";
                        html += "<button>MOD</button>";
                        html += "<button onclick='delTrudy(" + data.trudyId + " , \"" + data.imgName + "\")'>DEL</button>" //문자는 따옴표 안에 넣어줘야한다.
                        html += "</div> </div>"
                    })
                    $(".trudy_main").html(html);
                },
                error: function () {
                    alert("errorrrrrr");
                }
            })
        }

        var isBool = true;

        function showAddForm() {
            if (isBool == true) {
                $("#addTrudy").show();
                isBool = false;
            } else {
                $("#addTrudy").hide();
                isBool = true;
            }
        }

        function reset() {
            $("#resetId").find('input[type=text]').each(function () {
                $(this).val("");
            });
            $("#resetId").find('input[type=file]').val("");
            $("#textAreaId").val("");
        }

        function addTrudyEvent() {
            var data = new FormData($("#insertForm")[0]);
            $("#btnSubmit").prop("disabled", true);
            reset();
            showAddForm();

            $.ajax({
                type: "POST",
                url: "/myPage/insertForm",
                enctype: "multipart/form-data",
                processData: false,
                contentType: false,
                data: data,
                success: function (data) {
                    getTrudyList();
                },
                error: function () {
                    alert("server error");
                }
            })
        }

        function delTrudy(trudyId, imgName) {
            $.ajax({
                type: "Delete",
                url: "/myPage/deleteTrudy?trudyId=" + trudyId + "&imgName=" + imgName,
                success: function (data) {
                    getTrudyList();
                },
                error: function () {
                    alert("server error");
                }
            })
        }

        function readURL(input) {
            var file = input.files[0]
            console.log(file)
            if (file != '') {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }
            }
        }
    </script>

    <div style="text-align: right;">
        <button th:onclick="showAddForm()">+ADD TRUDY</button>
    </div>
    <br>
    <!-- Add form-->
    <div id="addTrudy" style="display: none">
        <div th:id="resetId" style="display: flex; ">
            <form id="insertForm" enctype="multipart/form-data">
                <div style="width: 50%; text-align: center;">
                    <img id="preview">
                    <input th:type="file" th:name="file" onchange="readURL(this)">
                </div>
                <div style="background-color:red;width: 50%; ">
                    <div style="background-color:beige">
                        <input th:type="hidden" th:name="userId" th:value="${session.userId}">
                        <input th:type="text" th:name="trudyName" placeholder="TRUDY NAME">
                        <input th:type="text" th:name="trudyType" placeholder="TYPE ex) JINDO">
                        <input th:type="text" th:name="trudyAge" placeholder="AGE">
                        <input th:type="text" th:name="trudyGender" placeholder="GENDER">
                        <textarea th:id="textAreaId" th:name="trudyIntro"
                                  placeholder="Tell me something about your Trudy!"></textarea>
                    </div>
                    <div style="background-color:green; text-align: end;">
                        <button id="btnSubmit" th:onclick="addTrudyEvent()">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br>

    <div class="trudy_main" ></div>

</th:block>
</html>