<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">
    <th:block th:replace="/layout/fragments/myPage :: myPageFragment"/>

    <script>
        //즉시실행함수
        $(function () {
            $.ajax({
                url : "/myPage/getAllMyStoryList",
                type : "GET",
                success : function (list){
                    console.log(list);
                    var html = "";
                    list.forEach((data)=>{
                        html += "<div class='sContents'>"
                        html += "<a href='/newStory/storyDetail?boardId="+data.boardId+"'>";
                        html += "<img src='/files/download?files="+data.imgName+"'><br>";
                        html += "<label>"+data.trudy.trudyName+"&nbsp;<br></label>"
                        html += "<label style='text-align: right'>♥"+data.likeNo+"&nbsp;</label>";
                        html += "<label>▒"+data.reply.length+"</label><br>";
                        html += "</a></div>";
                    });
                    $(".story-contents").html(html);
                }, error : function (){
                    alert("server-fail");
                }
            })
        })

    </script>

    <div class="story-contents">
        <div class="sContents"> <br><br> </div>
    </div>



</th:block>
</html>