<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">
    <th:block th:replace="/layout/fragments/myPage :: myPageFragment"/>

    <script>
        //즉시실행함수
        $(function (){
            getMyTalkList();
        //    getMyTtkList();
        })

        function getMyTtkList(){
            $.ajax({
                url : "/ttk/getMyTtkList",
                type : "GET",
                success : function (list){
                    console.log("getMyTtkList : " + JSON.stringify(list));
                    makeTable(list)
                }, error : function (){

                }
            })
        }

        function getMyTalkList(){
            $.ajax({
                url : "/talk/getMyTalkList",
                type : "GET",
                success : function (list){
                    console.log("getMyTalkList : " + JSON.stringify(list));
                    makeTable(list)
                }, error : function (){

                }
            })
        }

        function makeTable(list){
            var html = '';
            html += "<table>";
            list.forEach((data)=>{
                html += "<tr>";
                html += "<td>";
                html += "<label>"+data.boardTitle+"</label>"
                html =+ "</td>"
                html += "</tr>";
            });

            html += "</table>";

     //       $("#ttkTable").html(html);
            $("#talkTable").html(html);
        }

    </script>

    <span>
        <h1>Things To Know</h1>
        <hr>
        <div th:id="ttkTable"/>

    </span>
    <span>
        <h1>Talk Talk</h1>
        <hr>
        <div th:id="talkTable"/>

    </span>
    <span>
        <h1>Sharing Info</h1>
        <hr>
        <table>
            <tr>
                <td>What's wrong with my TRUDY!?</td>
                <td>❤️ 24</td>
                <td># 24</td>
                <td>2022-01-01</td>
            </tr>
            <tr>
                <td>What's wrong with my TRUDY!?</td>
                <td>❤️ 24</td>
                <td># 24</td>
                <td>2022-01-01</td>
            </tr>
        </table>
    </span>

</th:block>
</html>