<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">
    <th:block th:replace="/layout/fragments/myPage :: myPageFragment"/>

    <script>
        //즉시실행함수
        $(function (){
            getMyTalkList();
            getMyTtkList();
        })

        function getMyTtkList(){
            $.ajax({
                url : "/ttk/getMyTtkList",
                type : "GET",
                success : function (list){
                    console.log("getMyTtkList : " + JSON.stringify(list));
                    makeTtkTable(list)
                }, error : function (){

                }
            })
        }

        function getMyTalkList(){
            $.ajax({
                url : "/talk/getMyTalkList",
                type : "GET",
                success : function (list){
                    console.log("getMyTalkList : " + JSON.stringify(list));
                    makeTalkTable(list)
                }, error : function (){

                }
            })
        }

        function makeTtkTable(list){
            var html = '';
            html += "<table>";
            list.forEach((data)=>{
                insertDate = new Date(data.insertDate).toLocaleDateString();  // ex) 2022.08.16
                html += "<tr>";
                html += "<td>";
                html += "<label>"+data.boardId+"&nbsp;</label>";
                html += "<label><a href='/ttk/boardDetail?boardId="+data.boardId+"'>"+data.boardTitle+"&nbsp;</a></label>";
                html += "<label>♥ "+data.likeNo+"&nbsp;</label>";
                html += "<label>▒ "+data.hitNo+"&nbsp;</label>";
                html += "<label>"+insertDate+"</label>";
                html += "</td>"
                html += "</tr>";
            });
            html += "</table>";
            $("#ttkTable").html(html);
        }

        function makeTalkTable(list){
            var html = '';
            html += "<table>";
            list.forEach((data)=>{
                insertDate = new Date(data.insertDate).toLocaleDateString();  // ex) 2022.08.16
                html += "<tr>";
                html += "<td>";
                html += "<label>"+data.boardId+"&nbsp;</label>";
                html += "<label><a href='/talk/boardDetail?boardId="+data.boardId+"'>"+data.boardTitle+"&nbsp;</a></label>";
                html += "<label>♥ "+data.likeNo+"&nbsp;</label>";
                html += "<label>▒ "+data.hitNo+"&nbsp;</label>";
                html += "<label>"+insertDate+"</label>";
                html += "</td>"
                html += "</tr>";
            });
            html += "</table>";
            $("#talkTable").html(html);
        }



    </script>

    <span>
        <h1>Things To Know</h1>
        <div th:id="ttkTable"> </div>

    </span>
    <span>
        <h1>Talk Talk</h1>
        <div th:id="talkTable"> </div>

    </span>
    <span>
        <h1>Sharing Info</h1>
        <table>
            <tr>
                <td>What's wrong with my TRUDY!?</td>
                <td>❤️ 24</td>
                <td># 24</td>
                <td>2022-01-01</td>
            </tr>
        </table>
    </span>

</th:block>
</html>