<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rainaq.mypet.thingsToKnow.mapper.TtkMapper">


    <!-- test -->
    <select id="getContent" resultType="java.lang.String">
    SELECT content
    FROM   main_board
    WHERE  board_id = '1'
    </select>

    <insert id="insertBoard">
        INSERT INTO board_one(board_category_id, user_id,board_title,board_content, img_name, like_no,hit_no)
        VALUE (#{categoryId}, #{userId},#{boardTitle}, #{boardContent}, #{imgName}, '0', '0')
    </insert>

</mapper>