<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">
    <style>
        .detail_img {   width: 50px;}

        .imgMain {  width: 400px;  height: 450px;}

    </style>

    <script>
        function readURL(input) {
            var file = input.files[0]
            console.log(file)
            if (file != '') {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }
            }
        }
    </script>

    <form th:action="@{/newStory/insertForm}" th:method="post" enctype="multipart/form-data">
        <a href="#"> ⇽ go back to story</a><br><br>
        <div style="background-color: burlywood; text-align: center;">
            <a href="portfolio-item.html">
                <img id="preview">
                <input type="file" th:multiple="multiple" name="files" id="file_0" class="upload-hidden"
                       onchange="readURL(this)"/>
        </div>
        <div>
            <h2 class="entry-title"><a href="#" rel="bookmark">@sunshimMom</a></h2>
            <input type="hidden" th:name="userId" th:value="test123">
            <a class='portfoliotype' href='#'>sunshimi</a>
            <a class='portfoliotype' href='#'>Golden Retriever </a>
            <textarea th:name="content" placeholder="write here!"></textarea>
            <input type="submit" th:value="register">
        </div>
    </form>

</th:block>
</html>