<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">
    <style>
        .detail_img {
            width: 50px;
        }

        .imgMain {
            width: 400px;
            height: 450px;
        }

    </style>

    <script>
        function readURL(input) {
            var file = input.files[0]
            console.log(file)
            if (file != '') {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }
            }
        }

        function getCategory() {
            $("#myTrudyList2").show();
            $.ajax({
                url: "/myPage/getTrudyList",
                type: "GET",
                dataType: "JSON",
                success: function (list) {
                    console.log(list);
                    var html = "";
                    html += "<option value=''> == SELECT TRUDY == </option>"
                    list.forEach(function (data){
                        html += "<option value='" + data.trudyId + " '>" + data.trudyName + "</option>" //selected 옵션 넣기
                    })
                    $("#myTrudyList2").html(html);
                },
                error: function () {
                    alert("오류발생");
                }
            });
        };



    </script>

    <form th:action="@{/newStory/insertForm}" th:method="post" enctype="multipart/form-data">
        <a href="#"> ⇽ go back to story</a><br><br>
        <div style="background-color: burlywood; text-align: center;">
            <a href="portfolio-item.html">
                <img id="preview">
                <input type="file" th:multiple="multiple" name="files" id="file_0" class="upload-hidden"
                       onchange="readURL(this)"/>
            </a>
        </div>
        <div>
            <h2 class="entry-title"><a href="#" rel="bookmark">@[[${session.loginUser}]]</a></h2>
            <input type="hidden" th:name="user" th:value="${session.userId}">

            <a id="myTrudyList" th:onclick="getCategory()" >SELECT MY TRUDY!! (click) </a> <br>

            <select id="myTrudyList2" style="display: none" th:name="trudy" />


            <textarea th:name="content" placeholder="write here!"></textarea>
            <input type="submit" th:value="register">
        </div>
    </form>

</th:block>
</html>