<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">

<script>
    var count = 0;

    function nextImage(imgFullName, boardNo) {
        var imgNm = imgFullName.split("//");
        var cnt = 0;
        for (i = 0; i < imgNm.length - 1; i++) {
            cnt++; // 사진 총 개수 구하기
        }
        if (count == cnt) {
            count = 0;
        } else if (cnt < 2) { // 사진이 한 장일 경우
            count = 0;
        } else {
            count = 1;
        }
        document.getElementById('imageSite'+boardNo).src = "/files/download?files=" + imgNm[count] + " ";
        count++;
    }

    function delStory(boardId, imgName) {
        if(!confirm("정말 삭제하시겠습니까?")) {
            return false;
        }else{
            $.ajax({
                url: "/newStory/deleteBoard?boardId=" + boardId + "&imgName=" + imgName,
                type: "DELETE",
                dataType: "JSON",
                success: function (data) {
                    if (data.result == true) {
                        alert("delete success");
                        location.href = "/newStory/main";
                    } else {
                        alert("delete fail")
                    }
                },
                error: function () {
                    alert("server - fail");
                }
            })
        }
    };

    function addReply(boardId){
        console.log("board :: " + boardId);
        console.log("repContent :: " + $("#repContent").val());
        $.ajax({
            url : "/newStory/addReply",
            type : "POST",
            data: {
                board : boardId,
                repContent: $("#repContent").val()
            },
            success : function (){
                alert("success")
                showReply(boardId);
            },error : function (){
                alert("server--error");
            }
        })
    }

    var replyBool = true;
    function showReply(boardId){
        if(replyBool == true){
            $("#showReply"+boardId).show();
            $("#showReply"+boardId).animate({height: '30%'});

            $.ajax({
                url : "/newStory/getAllReply?board="+boardId,
                type : "GET",
                dataType: "JSON",
                success : function (list){
                    if(list.length <= 0){
                        var html = "<div> 아직 등록된 댓글이 없습니다.</div>"
                        $("#showReply"+boardId).html(html);
                        replyBool = false;
                    }else{
                        var html = "";
                        html += "<table>";
                        list.forEach((data)=>{
                            console.log(JSON.stringify(data));
                            insertDate = new Date(data.insertDate).toLocaleDateString();  // ex) 2022.08.16
                            //           insertDate = new Date(data.insertDate).toLocaleString();   ex) 2022.08.16. 오후 3:15:30
                            html +="<tr>";
                            html +="<td>"+data.repUserId+"</td>";
                            html +="<td>"+data.repContent+"</td>";
                            html +="<td>"+insertDate+"</td>"
                            html +="</tr>";
                        })
                        html +="</table>";
                        $("#showReply"+boardId).html(html);
                        replyBool = false;
                    }
                }, error : function (){
                    alert("server error");
                }
            })
        }else{
            $("#showReply"+boardId).hide();
            replyBool = true;
        }

    }

</script>

    <div th:each="list, i : ${data}"  style="padding-left: 25%; ">
        <article class="trudyImage" style="width: 70%; background-color: #99cfe5">
            <header class="entry-header">
                <div class="entry-thumbnail" style="flex-flow: column">
                    <div>
                        <a th:href="@{#}"> <!-- mainImage가 들어가야함(제일 첫번째 이미지파일이름) -->
                            <img th:id="imageSite+${i.count}" style="width: 400px; height: 300px;"
                                 th:src="@{/files/download(files=${list.imgName})}">
                        </a>
                    </div>
                    <div style="text-align: right"><a th:onclick="nextImage([[${list.imgName}]],[[${i.count}]])" > NEXT</a></div>
                </div>
            </header>
        </article>
        <article style="width: 70%">
            <header>
                <div >
                    <h2 class="entry-title"><a th:href="@{#}" rel="bookmark"></a></h2>
                    <a th:href='@{#}'> @[[*{list.user.userId}]] / [[${list.trudy.trudyName}]]</a>
                    <br>
                    <label th:text="${list.content}"/><br>
                    <div style="text-align: right">
                        <button th:type="button"
                                th:onclick="delStory([[${list.boardId}]], [[${list.imgName}]])">DELETE
                        </button>
                        <button th:onclick="showReply([[${list.boardId}]])">SHOW REPLY</button>
                    </div>
                    <div th:id="showReply+${list.boardId}" ></div>
                    <div style="display: flex">
                        <input th:id="repContent" th:name="repContent" th:type="text" placeholder="Add Comment .." style="width: 100%; height: 60%">
                        <button th:type="button" th:onclick="addReply([[${list.boardId}]])">ㅇ</button>
                    </div>
                </div>
                <br><br>
            </header>
        </article>
    </div>
</th:block>


</html>