<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">

<script>
    var count = 0;

    function nextImage(imgFullName) {
        var imgNm = imgFullName.split("//");
        var cnt = 0;
        for (i = 0; i < imgNm.length - 1; i++) {
            cnt++; // 사진 총 개수 구하기
        }
        if (count == cnt) {
            count = 0;
        } else if (cnt < 2) { // 사진이 한 장일 경우
            count = 0;
        } else {
            count = 1;
        }
        document.getElementById('imageSite').src = "/newStory/download?files=" + imgNm[count] + " ";
        count++;
    }

    function delStory(boardId, imgName) {
        $.ajax({
            url: "/newStory/deleteBoard?boardId=" + boardId + "&imgName=" + imgName,
            type: "DELETE",
            dataType: "JSON",
            success: function (data) {
                if (data.result == true) {
                    alert("delete success");
                    location.href = "/newStory/main";
                } else {
                    alert("delete fail")
                }
            },
            error: function () {
                alert("server - fail");
            }
        })
    };
</script>

    <div th:each="list : ${data}" class="grid portfoliogrid"
         style="background-color: burlywood; padding-left: 100px; ">
        <article class="trudyImage" style="width: 70%; background-color: #99cfe5">
            <header class="entry-header">
                <div class="entry-thumbnail" style="display: flex">
                    <div>
                        <a th:href="@{#}"> <!-- mainImage가 들어가야함(제일 첫번째 이미지파일이름) -->
                            <img id="imageSite" style="width: 400px; height: 300px"
                                 th:src="@{/newStory/download(files=${list.imgName})}">
                        </a>
                    </div>
                    <div><a th:onclick="nextImage([[${list.imgName}]])">&gt; NEXT</a></div>
                </div>
            </header>
        </article>
        <article>
            <header class="entry-header">
                <div class="entry-thumbnail">
                    <h2 class="entry-title"><a th:href="@{#}" rel="bookmark"></a></h2>
                    <a class='portfoliotype' href='#'>[[*{list.userId}]]</a>
                    <a class='portfoliotype' href='portfolio-category.html'>Golden Retriever </a>
                    <button type="button"
                            th:onclick="delStory([[${list.boardId}]], [[${list.imgName}]])">DELETE
                    </button>
                    <br>
                    <label th:text="${list.content}"/><br><br>
                    <div style="display: flex">
                        <input type="text" placeholder="Add Comment ..">
                        <input type="submit">
                    </div>
                </div>
                <br><br>
            </header>
        </article>
    </div>
</th:block>


</html>