<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">
    <style>
        #main-title {
            display: flex;
            background-color: red;
            width: 100%;
            height: 100px;
        }
    </style>

    <div id="main-title" style="display: flex">
        <h1>TALK TALK!</h1>
        <a th:href="@{/talk/addForm}">ADD TALK!</a>
    </div>
    <br>
    <table>
        <tr>
            <td>TITLE</td>
            <td>USER ID</td>
            <td>LIKE</td>
            <td>HIT</td>
        </tr>
        <tr th:each="list : ${list}">
            <td>
                <a th:href="@{/talk/boardDetail(boardId=${list.boardId})}">[[${list.boardTitle}]]</a>
            </td>
            <td>[[${list.userId}]]</td>
            <td>[[${list.likeNo}]]</td>
            <td>[[${list.hitNo}]]</td>
        </tr>

    </table>

</th:block>

</html>