<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">

<style>
    .detail_img {
        width: 50px;
    }

    .imgMain {
        width: 400px;
        height: 450px;
    }
</style>

<script>
    function readURL(input) {
        var file = input.files[0]
        if (file != '') {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            }
        }
    }

    function getCategory() {
        $.ajax({
            url: "/ttk/getCategory",
            type: "GET",
            dataType: "JSON",
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    //   html += "<option th:selected='"+data[i]+" == "+data[i]+"'  th:value="+data[i]+">"+ data[i]+"</option>" //selected 옵션 넣기
                    html += "<option value='" + (i + 1) + " '>" + data[i] + "</option>" //selected 옵션 넣기
                }
                $("#categoryList").html(html);
            },
            error: function () {
                alert("오류발생");
            }
        });
    };


</script>
    <form th:action="@{/ttk/insertForm}" th:method="post" enctype="multipart/form-data">
        <a href="#"> ⇽ go back to story</a><br><br>
        <div style="background-color: burlywood; text-align: center;">
            <a href="#">
                <img id="preview">
                <input type="file" th:multiple="multiple" name="file" id="file_0" class="upload-hidden"
                       onchange="readURL(this)"/>
        </div>
        <div>
            <select id="categoryList" th:onclick="getCategory()" th:name="categoryId">
                <option>카테고리선택</option>
            </select>
            <h2 class="entry-title"><a href="#" rel="bookmark">@sunshimMom</a></h2>
            <input type="hidden" th:name="userId" th:value="${session.userId}">
            <input type="text" th:name="boardTitle" placeholder="제목을 입력하세요">
            <textarea th:name="boardContent" placeholder="write here!"></textarea>
            <input type="submit" th:value="register">
        </div>
    </form>

</th:block>
</html>