<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">

    <style>
        .detail_img {   width: 50px; }
        .imgMain {    width: 400px; height: 450px; }
    </style>

    <a href="#"> ⇽ go back to story</a><br><br>
    <div style="background-color: burlywood; text-align: center;">
        <img th:src="@{/files/download(files=${dto.imgName})}"><br>
    </div>
    <div>
        <label>카테고리번호 : [[${dto.categoryId}]]</label>
        <h2 class="entry-title"><a href="#" rel="bookmark">[[${dto.userId}]]</a></h2>

        <label th:text="${dto.boardTitle}"/>
        <textarea th:name="boardContent">[[${dto.boardContent}]] </textarea>

    </div>


</th:block>
</html>