<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moschino | Minimalist Free HTML Portfolio by WowThemes.net</title>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <link rel='stylesheet' th:href='@{/static/css/woocommerce-layout.css}' type='text/css' media='all'/>
    <link rel='stylesheet' th:href='@{/static/css/woocommerce-smallscreen.css}' type='text/css' media='only screen and (max-width: 768px)'/>
    <link rel='stylesheet' th:href='@{/static/css/woocommerce.css}' type='text/css' media='all'/>
    <link rel='stylesheet' th:href='@{/static/css/font-awesome.min.css}' type='text/css' media='all'/>
    <link rel='stylesheet' th:href='@{/static/css/style.css}' type='text/css' media='all'/>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
    <link rel='stylesheet' th:href='@{/static/css/easy-responsive-shortcodes.css}' type='text/css' media='all'/>
</head>
<style>
    .searchDiv{
        background-color: orange;
        width: 80%;
        padding-top: 50px;
    }
    .site-main img{
        width: 100px;
        height: 100px;
    }
    #main-title{
        display: flex;
        background-color: red;
        width: 100%;
        height: 100px;
    }
    .story-contents{
        justify-content: center;
        text-align: center;
        background-color: aquamarine;
        display: flex;
        flex-wrap: wrap; /*행을 다 채우면 다음 행으로 개행*/
        width: 100%;
    }
    .story-contents img{
        width: 200px;
        height: 200px;
    }
    .sContents{
        border: 2px solid black;
        margin-right: 30px;
    }

</style>

<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
<div id="page" >
    <div class="container" >
        <header id="masthead" class="site-header">
            <div class="site-branding" style="display: flex;">
                <div>
                    <h1 class="site-title"><a th:href="@{newStory/main}" rel="home">Trudy</a></h1>
                    <h2 class="site-description">Minimalist Portfolio HTML Template</h2>
                </div>
                <div class="searchDiv">
                    <input type="text">
                    <button>search</button>
                </div>

            </div>
            <nav id="site-navigation" class="main-navigation" style="background-color: green;">
                <button class="menu-toggle">Menu</button>
                <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
                <div class="menu-menu-1-container">
                    <ul id="menu-menu-1" class="menu">
                        <li><a th:href="@{/newStory/main}">New Story</a></li>
                        <li><a th:href="@{/ttk/ttkMain}">Things To Know</a></li>
                        <li><a th:href="@{#}">Sharing Info</a></li>
                        <li><a th:href="@{/talk/talkMain}">Talk Talk</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- #masthead -->
        <div id="content" class="site-content" style="background-color: blueviolet; display: flex;">
            <!--layoout Left-->
            <div class="layout-left" style="background-color: aqua; width: 15%;">
                <li class="menubar">MENUBAR</li>
                <ul class="test">
                    <li>testest</li>
                    <li>testest</li>
                    <li>testest</li>
                </ul>
            </div>
            <!--추후 사이드 슬라이드로 만들기 -->
            <script>
                $(".menubar").click(function(){
                    if($(".test").is(":visible")){
                        $(".test").slideUp();
                    }else{
                        $(".test").slideDown();
                    }
                });

            </script>
            <div class="layout-main" style="background-color: yellow; width:75%" >
                <div id="primary" class="content-area column full">
                    <main id="main" class="site-main">

                      <a th:href="@{#}">ALL</a>
                      <a th:href="@{#}">HEALTH</a>
                      <a th:href="@{#}">EDUCATION</a>
                      <a th:href="@{#}">BREED</a>
                      <a th:href="@{/ttk/addForm}">+ADD</a>

                        <div class="story-contents" th:each="list : ${data}">
                            <div class="sContents">
                                <a th:href="@{/ttk/boardDetail(boardId=${list.boardId})}">
                                    <img th:src="@{/files/download(files=${list.imgName})}"><br>
                                    <label>[[${list.categoryId}]] </label><br>
                                    <label>[[${list.boardTitle}]]</label>
                                </a>
                                <br><br>
                            </div>
                        </div>


                        <nav class="pagination">
                            <span class="page-numbers current">1</span>
                            <a class="page-numbers" href="#">2</a>
                            <a class="next page-numbers" href="#">Next »</a>
                        </nav>
                        <br/>
                    </main>
                </div>
            </div>
            <!-- #main -->
            <!--layout right-->
            <div class="layout-right" style="background-color: greenyellow; width: 10%;">
                <button style="color: blue;" th:onclick="|location.href='@{/newStory/addForm}'|"> UPLOAD</button>
                <button> MYPAGE</button>
            </div>

        </div>
        <!-- #primary -->
    </div>
    <!-- #content -->
</div>
<!-- .container -->
<footer id="colophon" class="site-footer">
    <div class="container">
        <div class="site-info">
            <h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Moschino</h1>
            Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>

        </div>
    </div>
</footer>
<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script th:src='@{/static/js/jquery.js}'></script>
<script th:src='@{/static/js/plugins.js}'></script>
<script th:src='@{/static/js/scripts.js}'></script>
<script th:src='@{/static/js/masonry.pkgd.min.js}'></script>
</body>
</html>